.container {
  margin: 20px auto;
  width: 650px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  font-family: Cambria, Georgia, serif;
}

th {
  text-align: left;
}

.errors {
	color: red;
}

h3 {
	line-height: 1.5em;
}

.posts {
	font-family: Cambria, Georgia, serif;
}

header {
	color: black;
	background-color: lightgray;
	text-align: center;
	border: 1px dotted black;
	height: 64px;
	line-ehgith: 64px;
}

.footer {
	float: bottom;
	text-align: center;

}

.nav {
	list-style-style: none;
	color: white;
	display: table;
	margin: 10px 0px;
}

.nav a {
	padding: 8px;
	text-decoration: none;
	border: 1px dotted gray;
	color: #222;
	background-color: lightgray;

}

.nav ol {
	display: table-cell;
	padding: 0px;
}
.nav li {
	display: table-cell;
}