<div class="container">
  <header>
    <h1> Angie's Janky Blog</h1> 
  </header>
 
<ul>
<% @posts.each do |post| %>
  <li>
    <h3><a href="/post/<%= post.id %>"><%= post.title %></a>
    <span><%= format_date(post.created_at) %></span></h3>
  </li>
<% end %>
</ul>

<span id="nav"><%= erb :nav, layout => false %></span>
</div>
