<div class="container">
  <header>
    <h1>Angie's Blog ♥</h1> 
  </header>
 
<ul class="posts">
<% @posts.each do |post| %>
  <li>
    <h3><a href="/post/<%= post.id %>"><%= post.title %></a>
    <span><%= format_date(post.created_at) %></span></h3>
  </li>
<% end %>
</ul>

<%= erb :nav, layout => false %>
</div>
