<body>
  <ul>
    <% unless home %>
    <li><a href="/">Home</a></li>
    <% end %> 
    
    <% unless new_post_page %>       
      <li><a href="/post/new">New Post</a></li>  
    <% end %>                           
    
    <% if post_show_page? %>
      <li><a href="/post/<%= @post.id %>/edit">Edit Post</a></li>
      <li><a href="/post/<%= @post.id %>/delete">Delete Post</a></li>
    <% end %>
  </ul>
</body>
