<div class="container">
  <header>
    <h1> New Blog Post </h1> 
  </header>

  <%if @errors %>
    <% @errors.each do |message| %>
    <span class="errors"> <%= message %><br></span>
    <% end %>
  <% end %>


 <form action="/post" method = "post">
  <p>Title:<input type="text" name="title"><br></p>
  <p>Body:<textarea rows="5" cols="60" placeholder="Share your thoughts" name="body"></textarea><br></p>
  <p>Tags: <input id="post_tags" name="tags"><br></p>

  <p><input type="submit" value="Post"><br></p>
 </form>

 <%= erb :nav, layout => false %>
</div>
